body {
  color: darkblue;
  font-family: serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin: 0;
  overflow-x: hidden;
}
.signIn{
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: darkblue;
}

.fixed-footer {
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 10px;
}

/* status */
.Fulfilled {
  color: green;
  font-weight: bold;
}
.Matched {
  color: blue;
  font-weight: bold;
}
.Pending {
  color: orange;
  font-weight: bold;
}
.Dangering {
  color: red;
  font-weight: bold;
}

/* DEM */
    .containered {
      display: flex;
      gap: 20px;
      padding: 20px;
    }
    .details {
      width: 35%;
      background-color: #f8f9fa;
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .details h3 {
      margin-top: 0;
    }

    .map {
      width: 60%;
    }

    iframe {
      width: 166%;
      height: 500px;
      margin: auto;
      padding: 10px;
    }
/* DEM */

/* inventory */
.photo-container {
  position: relative;
  display: inline-block;
  background-color: rgba(109, 109, 109, 0.432);
  border-radius: 10%;
}

.photo-container img {
  width: 200px; 
  height: auto;
  background-color: rgba(109, 109, 109, 0.432);
  border-radius: 10%;
}

.number {
  position: absolute;
  top: 70%;
  left: 70px;
  background: darkgreen;
  color: white;
  font-weight: bold;  
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 20px;
}

.name {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: white;
  font-size: 20px;
}
/* inventory */