body {
  color: darkblue;
  font-family: serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}
.signIn{
  color: white;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: darkblue;
}

.fixed-footer {
  bottom: 0; /* Positions the footer at the bottom of the viewport */
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: 10px;
}