body {
  color: darkblue;
  font-family: serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.signIn{
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: darkblue;
}

.fixed-footer {
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  padding-top: 10px;
}
